<div id='content-container-404' class='pt4 px2 hide'>

	<div class="lg-flex items-center justify-center">
		<div id='gh-product-header--left' class='lg-col-4 p3 center'>

		</div>
		<div id='gh-product-header--right' class='lg-col-5'>
			<div class="product__title pb3">

				<div id='gh-product-header--right-header'></div>

				<button class="button button--full-width disabled mb3">Not Available in Your Region</button>

				<div id='' class='bg-green-light p3'>
					<h4><i class='fa fa-exclamation-circle'></i> Not yet available to ship to {{ localization.country.name }}.</h4>

					<h5 class='line-height-4'>
						{% if localization.country.name == 'Canada' %}
						<a href='https://globalhealing.com/collections/canadian-products'>Shop available products</a>
						{% else %}
						<a href='https://globalhealing.com/collections/collections'>Shop available products</a>
						{% endif %}
						or use the country/region dropdown to update your shipping location.
					</h5>

					<div id='gh-localization-form'>{% render 'gh-localization-form' %}</div>
				</div>

				<div id='gh-product-header--right-footer'></div>
			</div>
		</div>
	</div>

</div>

<div id='gh-product-content-container-404' class='pb4 px2'></div>

<script>
	gh_404.init();

	// logging: {{ shop.metaobjects.product['calcium-disodium-edta'].product.value.title }}
	// {{ request.origin }}
	// {{ template }}
	// {{shop.url | append: share_permalink}}
	// {{ localization.country.name }}
</script>

{{ 'gh-section-product-content.css' | asset_url | stylesheet_tag }}