<div>

  <h3 class="">
    <a href="{{ article.url }}" class="muted">
      {{ article.title | truncate: 50 | escape }}
    </a>
  </h3>

  <div>
      <span>{{ article.published_at | time_tag: format: 'date' }}</span>
      <span>{{ article.author }}</span>
  </div>

  {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
    <p>
      {%- if article.excerpt.size > 0 -%}
        {{ article.excerpt | strip_html | truncatewords: 30 }}
      {%- else -%}
        {{ article.content | strip_html | truncatewords: 30 }}
      {%- endif -%}
    </p>
  {%- endif -%}
  
  <p></p>

  <p>
     <a href="{{ article.url }}" class="btn btn-green">Read More</a>
  </p>
  
</div>