{% assign has_product_config = false %}
{% if product and product.metafields.globalhealing.body %}
  {% assign has_product_config = true %}
  {% assign config = product.metafields.globalhealing.body.value %}
{% endif %}

<div class="product__info-tabs" data-block-id="{{ block.id }}" {{ block.shopify_attributes }}>
  <div class="info-tabs__links">
    <a href="#" data-tab="1" class="active">{{ config.tab_1_title | default: block.settings.tab_1_title }}</a>
    <a href="#" data-tab="2">{{ config.tab_2_title | default: block.settings.tab_2_title }}</a>
    <a href="#" data-tab="3">{{ config.tab_3_title | default: block.settings.tab_3_title }}</a>
  </div>
  <div class="info-tabs__content">
    <div data-tab="1" class="active">
      <span>{{ product.metafields.globalhealing.product_tagline }}</span>
      {{ product.description }}
      {% if has_product_config %}
        {% if config.instructions contains 'https' %}
          <p><a href='{{ config.instructions }}'>View Instuctions</a></p>
        {% endif %}

        {% if config.supplement_facts contains 'https' %}
          {%- capture sf_content -%}<img src='{{ config.supplement_facts }}?w=800' srcset='{{ config.supplement_facts }}?w=1600 2x' alt='supplement facts!' loading="lazy">{% endcapture %}
          {% render 'gh-element-dialog', button_class: 'button--link', button_text: 'Supplement Facts', id: 'full-ingredients-header', content: sf_content %}
        {% endif %}
        
        {% endif %}
    </div>
    <div data-tab="2">{{ product.metafields.globalhealing.who_its_for }}</div>
    <div data-tab="3">{{ product.metafields.globalhealing.suggested_use }}</div>
  </div>
</div>
<script>
  let all_tabs = document.querySelectorAll('.info-tabs__content > div');
  let all_links = document.querySelectorAll('.info-tabs__links a');
  
  all_links.forEach( t => {
    t.addEventListener('click', e => {
      e.preventDefault();
      all_links.forEach( c => c.classList.remove('active') );
      all_tabs.forEach( c => c.classList.remove('active') );
      let target = document.querySelector(`.info-tabs__content [data-tab="${t.getAttribute('data-tab')}"]`);
      target.classList.add('active');
      t.classList.add('active');
    })
  })
</script>
<style>
  .product__info-tabs {
    padding-bottom: 1rem;
  }
  .product__info-tabs li p {
    margin: 0;
    display: inline;
  }
  .info-tabs__links{
    border-bottom: 2px solid #00000040;
    display: flex;
    margin-bottom: 1.5rem;
    font-family: var(--gh-font-secondary);
    font-weight: 700;
    text-transform: uppercase;
  }
  .info-tabs__links a {
    text-decoration: none;
    color: #00000095;
    flex: 1;
    margin-bottom: -3px;
    border-bottom: 4px solid transparent;
  }
  .info-tabs__links a:not(:first-child) {
    padding-left: 9px;
  }
  .info-tabs__links a.active {
    color: var(--gh-color-green);
    border-bottom-color: var(--gh-color-green);
  }
  .info-tabs__content [data-tab="1"] > span:first-child{
    color: var(--gh-color-green);
    font-weight: bold;
  }
  .info-tabs__content [data-tab="1"] p:nth-child(2){
    margin-top: 0;
  }
  .info-tabs__content > div{
    display: none;
  }
  .info-tabs__content > div.active{
    display: block;
  }
  .info-tabs__content p{
    margin-top: 0;
    margin-bottom: 1rem;
  }
  @media (max-width: 749px){
    .info-tabs__links a{
      text-align: center;
      white-space: nowrap;
    }
    .info-tabs__links a:nth-child(2){
      flex-grow: 2;
    }
  }
  @media (min-width: 750px) and (max-width: 1000px){
    .info-tabs__links{
      justify-content: space-between;
    }
    .info-tabs__links a{
      flex: inherit;
    }
  }
</style>