<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<div id="gh-category-navigation"></div>

{% raw %}
<script type="text/template" id="gh-category-navigation-template">
    {{#each categories}}
    <details class="{{#if active}}active{{/if}}" {{#if active}}open{{/if}}>
        <summary class="h5 py2">{{ title }}</summary>
        <div class="pl1">

            {{#each children}}

            {{#if children}}
            <details class="{{#if active}}active{{/if}}" {{#if active}}open{{/if}}>
                <summary>{{ title }}</summary>
                <div class="">
                  {{#each children}}
                    <div>
                      {{#if active}}
                        <span class="active">{{ title }}</span>
                      {{else}}
                        <a href="/blogs/education/tagged/{{ slug }}">{{ title }}</a>
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
            </details>
            {{/if}}

            {{#unless children}}
            <div>
                <a href="#{{ slug }}" class="{{#if active}}active{{/if}}">{{ title }}</a>
            </div>
            {{/unless}}

            {{/each}}

        </div>
    </details>
    {{/each}}
</script>
{% endraw %}

<script>
	let categories = [
  {
    "title": "Health",
    "slug": "category_health",
    "children": [
      {
        "title": "Gut and Digestive Health",
        "slug": "category_health-gut-and-digestive-health",
        "children": [
          {
            "title": "Digestive Issues",
            "slug": "category_health-gut-and-digestive-health-digestive-issues",
            "children": []
          },
          {
            "title": "Gut Flora",
            "slug": "category_health-gut-and-digestive-health-gut-flora",
            "children": []
          },
          {
            "title": "Laxatives",
            "slug": "category_health-gut-and-digestive-health-laxatives",
            "children": []
          },
          {
            "title": "Constipation",
            "slug": "category_health-gut-and-digestive-health-constipation",
            "children": []
          },
          {
            "title": "Bloating",
            "slug": "category_health-gut-and-digestive-health-bloating",
            "children": []
          },
          {
            "title": "Hemorrhoids",
            "slug": "category_health-gut-and-digestive-health-hemorrhoids",
            "children": []
          }
        ]
      },
      {
        "title": "Whole Body Wellness",
        "slug": "whole-body-wellness",
        "children": [
          {
            "title": "Liver and Gallbladder",
            "slug": "category_health-whole-body-wellness-liver-and-gallbladder",
            "children": []
          },
          {
            "title": "Immune System",
            "slug": "category_health-whole-body-wellness-immune-system",
            "children": []
          },
          {
            "title": "Endocrine and Hormone",
            "slug": "category_health-whole-body-wellness-endocrine-and-hormone",
            "children": []
          },
          {
            "title": "Cardiovascular Health",
            "slug": "category_health-whole-body-wellness-cardiovascular-health",
            "children": []
          },
          {
            "title": "Circulatory",
            "slug": "category_health-whole-body-wellness-circulatory",
            "children": []
          },
          {
            "title": "Respiratory",
            "slug": "category_health-whole-body-wellness-respiratory",
            "children": []
          },
          {
            "title": "Bones and Muscles",
            "slug": "category_health-whole-body-wellness-bones-and-muscles",
            "children": []
          },
          {
            "title": "Kidney and Urinary",
            "slug": "category_health-whole-body-wellness-kidney-and-urinary",
            "children": []
          },
          {
            "title": "Hair and Skin",
            "slug": "category_health-whole-body-wellness-hair-and-skin",
            "children": []
          },
          {
            "title": "Teeth and Gums",
            "slug": "category_health-whole-body-wellness-teeth-and-gums",
            "children": []
          },
          {
            "title": "Appendix",
            "slug": "category_health-whole-body-wellness-appendix",
            "children": []
          },
          {
            "title": "Brain Health",
            "slug": "category_health-whole-body-wellness-brain-health",
            "children": []
          },
          {
            "title": "Sexual Health",
            "slug": "category_health-whole-body-wellness-sexual-health",
            "children": []
          },
          {
            "title": "Energy",
            "slug": "category_health-whole-body-wellness-energy",
            "children": []
          },
          {
            "title": "Sleep",
            "slug": "category_health-whole-body-wellness-sleep",
            "children": []
          }
        ]
      },
      {
        "title": "Men's Health",
        "slug": "category_health-mens-health",
        "children": []
      },
      {
        "title": "Women's Health",
        "slug": "category_health-womens-health",
        "children": []
      },
      {
        "title": "Children's Health",
        "slug": "category_health-childrens-health",
        "children": []
      }
    ]
  },
  {
    "title": "Nutrition",
    "slug": "nutrition",
    "children": [
      {
        "title": "Foods",
        "slug": "category_nutrition-foods",
        "children": [
          {
            "title": "Healthy Foods",
            "slug": "category_nutrition-foods-healthy-foods",
            "children": []
          },
          {
            "title": "Foods to Avoid",
            "slug": "category_nutrition-foods-foods-to-avoid",
            "children": []
          },
          {
            "title": "Water and Hydration",
            "slug": "category_nutrition-foods-water-and-hydration",
            "children": []
          },
          {
            "title": "Nutrient Deficiencies",
            "slug": "category_nutrition-foods-nutrient-deficiencies",
            "children": []
          },
          {
            "title": "Micronutrients",
            "slug": "category_nutrition-foods-micronutrients",
            "children": []
          },
          {
            "title": "Macronutrients",
            "slug": "category_nutrition-foods-macronutrients",
            "children": []
          },
          {
            "title": "Healthy Probiotic Foods",
            "slug": "category_nutrition-foods-healthy-probiotic-foods",
            "children": []
          }
        ]
      },
      {
        "title": "Diet",
        "slug": "category_nutrition-diet",
        "children": [
          {
            "title": "Body Cleansing Diet",
            "slug": "category_nutrition-diet-body-cleansing-diet",
            "children": []
          },
          {
            "title": "Fasting Diet",
            "slug": "category_nutrition-diet-fasting-diet",
            "children": []
          },
          {
            "title": "Vegan Diet",
            "slug": "category_nutrition-diet-vegan-diet",
            "children": []
          },
          {
            "title": "Vegetarian Diet",
            "slug": "category_nutrition-diet-vegetarian-diet",
            "children": []
          },
          {
            "title": "Raw Food Diet",
            "slug": "category_nutrition-diet-raw-food-diet",
            "children": []
          },
          {
            "title": "Gluten Free Diet",
            "slug": "category_nutrition-diet-gluten-free-diet",
            "children": []
          },
          {
            "title": "Alkaline Diet",
            "slug": "category_nutrition-diet-alkaline-diet",
            "children": []
          }
        ]
      },
      {
        "title": "Supplements",
        "slug": "category_nutrition-supplements",
        "children": [
          {
            "title": "Vitamins",
            "slug": "category_nutrition-supplements-vitamins",
            "children": []
          },
          {
            "title": "Minerals",
            "slug": "category_nutrition-supplements-minerals",
            "children": []
          },
          {
            "title": "Enzymes",
            "slug": "category_nutrition-supplements-enzymes",
            "children": []
          },
          {
            "title": "Probiotics",
            "slug": "category_nutrition-supplements-probiotics",
            "children": []
          },
          {
            "title": "Antioxidants",
            "slug": "category_nutrition-supplements-antioxidants",
            "children": []
          }
        ]
      },
      {
        "title": "Plants for Health",
        "slug": "category_nutrition-plants-for-health",
        "children": [
          {
            "title": "Herbs",
            "slug": "category_nutrition-plants-for-health-herbs",
            "children": []
          },
          {
            "title": "Spices",
            "slug": "category_nutrition-plants-for-health-spices",
            "children": []
          },
          {
            "title": "Essential Oils",
            "slug": "category_nutrition-plants-for-health-essential-oils",
            "children": []
          },
          {
            "title": "Trace Minerals",
            "slug": "category_nutrition-plants-for-health-trace-minerals",
            "children": []
          },
          {
            "title": "Phytochemicals",
            "slug": "category_nutrition-plants-for-health-phytochemicals",
            "children": []
          },
          {
            "title": "Growing Your Own",
            "slug": "category_nutrition-plants-for-health-grow-your-own",
            "children": []
          }
        ]
      },
      {
        "title": "Recipes",
        "slug": "category_nutrition-recipes",
        "children": [
          {
            "title": "Vegan Recipes",
            "slug": "category_nutrition-recipes-vegan-recipes",
            "children": []
          },
          {
            "title": "Vegetarian Recipes",
            "slug": "category_nutrition-recipes-vegetarian-recipes",
            "children": []
          },
          {
            "title": "Gluten Free Recipes",
            "slug": "category_nutrition-recipes-gluten-free-recipes",
            "children": []
          },
          {
            "title": "Drink Recipes",
            "slug": "category_nutrition-recipes-drink-recipes",
            "children": []
          }
        ]
      }
    ]
  },
  {
    "title": "Cleansing",
    "slug": "category_cleansing",
    "children": [
      {
        "title": "Whole Body Cleanse",
        "slug": "category_cleansing-whole-body-cleanse",
        "children": []
      },
      {
        "title": "Colon Cleanse",
        "slug": "category_cleansing-colon-cleanse",
        "children": []
      },
      {
        "title": "Liver Cleanse",
        "slug": "category_cleansing-liver-cleanse",
        "children": []
      },
      {
        "title": "Kidney Cleanse",
        "slug": "category_cleansing-kidney-cleanse",
        "children": []
      },
      {
        "title": "Lung Cleanse",
        "slug": "category_cleansing-lung-cleanse",
        "children": []
      },
      {
        "title": "Harmful Organism Cleanse",
        "slug": "category_cleansing-harmful-organism-cleanse",
        "children": []
      },
      {
        "title": "Toxic Metal Cleanse",
        "slug": "category_cleansing-toxic-metal-cleanse",
        "children": []
      },
      {
        "title": "Cleansing Herbs",
        "slug": "category_cleansing-cleansing-herbs",
        "children": []
      }
    ]
  },
  {
    "title": "Mind and Body",
    "slug": "category_mind-and-body",
    "children": [
      {
        "title": "Weight Loss",
        "slug": "category_mind-and-body-weight-loss",
        "children": []
      },
      {
        "title": "Mental Wellness",
        "slug": "category_mind-and-body-mental-wellness",
        "children": []
      },
      {
        "title": "Exercise",
        "slug": "category_mind-and-body-exercise",
        "children": []
      },
      {
        "title": "Stress",
        "slug": "category_mind-and-body-stress",
        "children": []
      },
      {
        "title": "Meditation",
        "slug": "category_mind-and-body-meditation",
        "children": []
      },
      {
        "title": "Longevity",
        "slug": "category_mind-and-body-longevity",
        "children": []
      },
      {
        "title": "Integrated Care",
        "slug": "category_mind-and-body-integrated-care",
        "children": []
      },
      {
        "title": "Beauty",
        "slug": "category_mind-and-body-beauty",
        "children": [
          {
            "title": "Skin Care",
            "slug": "category_mind-and-body-beauty-skin-care",
            "children": []
          },
          {
            "title": "Hair Care",
            "slug": "category_mind-and-body-beauty-hair-care",
            "children": []
          },
          {
            "title": "Cosmetics",
            "slug": "category_mind-and-body-beauty-cosmetics",
            "children": []
          },
          {
            "title": "Sunscreen",
            "slug": "category_mind-and-body-beauty-sunscreen",
            "children": []
          },
          {
            "title": "Personal Care Products",
            "slug": "category_mind-and-body-beauty-personal-care-products",
            "children": []
          }
        ]
      }
    ]
  }
];

	function activateCurrent( current ) {
		categories.forEach(c1 => {
			if (c1.slug === current) c1.active = true;
			let c2_active = false;

			c1.children.forEach(c2 => {
				let c3_active = false;

				if (c2.slug === current) {
					c2.active = true;
					c2_active = true;
				}

				c2.children.forEach(c3 => {
					if (c3.slug === current) {
						c3.active = true;
						c3_active = true;
					}
				})

				if( c3_active ) {
					c2.active = true;
					c2_active = true;
				}
			})

			if( c2_active ) c1.active = true;
		})
	}

  {% if current_tags.size > 0 %}
      activateCurrent('{{ current_tags[0] | handleize }}');
      //activateCurrent('/micronutrients/')

  {% endif %}

	let container = document.getElementById('gh-category-navigation');
	let text_template = document.getElementById('gh-category-navigation-template').innerText;
	let template = Handlebars.compile(text_template);
	container.innerHTML = template({
		categories
	})
</script>
<style>
  details span.active{
    font-weight: bold;
    color: var(--gh-color-green);
  }

  #gh-category-navigation > details{
    border-bottom: 1px solid var(--gh-color-green);
  }

  #gh-category-navigation > details:last-child{
    border-bottom-width: 0;
  }
  
  #gh-category-navigation > details[open]{
    padding-bottom: 15px;
  }
  
  #gh-category-navigation > details[open] > summary,
  #gh-category-navigation > details[open] details[open] summary{
    font-weight: bold;
    color: var(--gh-color-green);
  }

  #gh-category-navigation details[open] details[open] > div{
    /* background: #00000020; */
    padding: .5em 1em;
    margin-bottom: 5px;
  }
  #gh-category-navigation a{
    text-decoration: none;
  }
  #gh-category-navigation a:hover{
    text-decoration: underline;
  }
</style>