<div class="flex pb4" style="gap: 30px;">

  <div class="col-3">
    <img
      srcset="
        {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
        {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
        {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
        {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
        {{ article.image.src | image_url }} {{ article.image.src.width }}w
      "
      src="{{ article.image.src | image_url: width: 533 }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
      alt="{{ article.image.src.alt | escape }}"
      class=""
      width=""
      height=""
    >
  </div>

  <div style="flex: 1;">
    <h3 class="mb0 h4"> <!--  gh-font-primary bold -->
      <a href="{{ article.url }}" style="text-decoration: none;">
        {{ article.title }}
      </a>
    </h3>
  
    <p class="mb1">
      <small>
        <span>By {{ article.author }}</span>
        | 
        <span>{{ article.published_at | time_tag: format: 'date' }}</span>
      </small>
    </p>
  
    {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
      <p>
        {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt | strip_html | truncatewords: 30 }}
        {%- else -%}
          {{ article.content | strip_html | truncatewords: 30 }}
        {%- endif -%}
      </p>
    {%- endif -%}
    
    <p></p>
  
    <div>
       <a href="{{ article.url }}" class="button button--primary">Read More</a>
    </div>
  </div>
  
</div>