

<button class="aa" data-dialog="{{ id }}">{{ button_text }}</button>
<dialog class="ghd--modal" id="{{ id }}">
    <div>
        <div><button data-dialog="{{ id }}">Close</button></div>
        <div>
            <h3 class="dialog-title">{{ title }}</h3>
            {{ content }}
        </div>
        <div><button class="cancel button" data-dialog="{{ id }}">Close</button></div>
    </div>
</dialog>