

<button class="ghd--dialog--button" data-dialog="dialog-{{ id }}">{{ button_text }}</button>
<dialog class="ghd--dialog" id="dialog-{{ id }}">
    <div class='ghd--dialog--inner'>
        <div class='text--right'><button class='button--link' data-dialog="dialog-{{ id }}">Close</button></div>
        <div>
            {% if title %}
            <h3 class="dialog-title">{{ title }}</h3>
            {% else %}
            <br>
            {% endif %}

            {{ content }}
        </div>
        {% comment %}<div class='text--right'><button class="cancel button" data-dialog="dialog-{{ id }}">Close</button></div>{% endcomment %}
    </div>
</dialog>

<script>
  {
    let modal = document.getElementById('dialog-{{ id }}');
    modal.addEventListener('click', e => {
      let inner = modal.querySelector('.ghd--dialog--inner');
      if( !inner.contains(e.target) ) modal.close();
    })

    document.querySelectorAll('[data-dialog="dialog-{{ id }}"]').forEach(d => {
      d.addEventListener('click', function(e) {
        if (modal.open) {
          modal.close();
        } else {
          modal.showModal()
        }
      });
    })
  }
</script>