{%- style -%}
    .section-{{ section.id }}-padding {
        padding-top: calc({{ section.settings.padding_top }}px * 0.75);
        padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}

<div class="gh--home-page section-{{ section.id }}-padding">

    {{ 'gh-section-home-page.css' | asset_url | stylesheet_tag }}

    {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when '@app' -%}
            {% render block %}
        {% when 'hero' %}
            <section class="ghd--hero" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.url }}">
                <picture>
                  <source media="(min-width: 650px)" srcset="{{ block.settings.image }}">
                  <source media="(max-width: 649px)" srcset="{{ block.settings.image_mobile }}">
                  <img src="{{ block.settings.image }}" alt="">
                </picture>
              </a>
            </section>
        {% when 'logos' %}
            <section class="ghd--logos ghd--bg-white" {{ block.shopify_attributes }}>
                <div class="ghd--flex">
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-miami-herald.v2.svg" data-logo="miami-herald"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-forbes.v2.svg" data-logo="forbes"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-chicago-tribune.v2.svg" data-logo="chicago-tribune"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-huffpost.v2.svg" data-logo="huffpost"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-mens-journal.v2.svg" data-logo="mens-journal"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-us-weekly.v2.svg" data-logo="us-weekly"></div>
                    <div><img src="https://cdn.globalhealing.com/pages/v2/home/logos-livestrong.v2.svg" data-logo="livestrong"></div>
                </div>
            </section>
        {% when 'banners' %}
            <section class="ghd--banners ghd--bg-white" {{ block.shopify_attributes }}>
                <div class="page-width ghd--flex">
                    <div>
                        <a href='{{ block.settings.banner_1_url }}'><img src="{{ block.settings.banner_1_image }}" alt="" loading="lazy"></a>
                    </div>
                    <div class="ghd--flex" data-side="right">
                        <div><a href='{{ block.settings.banner_2_url }}'><img src="{{ block.settings.banner_2_image }}" alt="" loading="lazy"></a></div>
                        <div><a href='{{ block.settings.banner_3_url }}'><img src="{{ block.settings.banner_3_image }}" alt="" loading="lazy"></a></div>
                    </div>
                </div>
            </section>
        {% when 'quality' %}
            <section class="ghd--our-process" {{ block.shopify_attributes }}>
                <div class="page-width ghd--flex">
                    <div>
                        <h2>The Quality & Purity<br> Your Body Deserves</h2>
                        <a href="#">OUR PROCESS</a>
                    </div>
                    <div data-side="right">
              <span>
                  <img src="https://cdn.globalhealing.com/pages/v2/home/quality-vegan.svg" alt="">
                  Vegan-Friendly
              </span>
                        <span>
                  <img src="https://cdn.globalhealing.com/pages/v2/home/quality-gmo-free.svg" alt="">
                  GMO-Free
              </span>
                        <span>
                  <img src="https://cdn.globalhealing.com/pages/v2/home/quality-gluten-free.svg" alt="">
                  Gluten-Free
              </span>
                        <span>
                  <img src="https://cdn.globalhealing.com/pages/v2/home/quality-additive-free.svg" alt="">
                  No Additives
              </span>
                    </div>
                </div>
            </section>
        {% when 'journey' %}
            <section class="ghd--journey" {{ block.shopify_attributes }}>
                <div class="page-width">
                    <div data-type="header">
                        <h2 class="text-center">Products Uniquely Made <br>With You in Mind</h2>
                    </div>
                    <div class="ghd--flex" data-type="cols">
                        <div>
                            <h3>Start Your Journey</h3>
                            <p>Find the right product for you. If you need help, our quiz can help you find the right products for you.</p>
                            <p><a class="button button--gold" href="#">Shop Our Collection</a></p>
                            <p><a class="button" href="#">Take Our Quiz</a></p>
                        </div>
                        <div>
                            <h4 class="text-center">SHOP BY HEALTH GOALS</h4>
                            <div class="ghd--journey--goals ghd--flex">
                                <div><a href="#">CLEANSE & DETOX</a></div>
                                <div><a href="#">IMMUNE HEALTH</a></div>
                                <div><a href="#">ENERGY</a></div>
                                <div><a href="#">GUT HEALTH</a></div>
                                <div><a href="#">BRAIN HEALTH</a></div>
                                <div><a href="#">HORMONE SUPPORT</a></div>
                                <div><a href="#">MOOD & SLEEP</a></div>
                                <div><a href="#">SKIN CARE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% when 'foundation' %}
            <section class="ghd--foundation" {{ block.shopify_attributes }}>

                <div class="ghd--flex">
                    <div data-type="text">
                        <h2 class="eyebrow">
                            <span>THE FOUNDATION OF WELLNESS</span>
                            Healing Starts <br>From the Inside Out
                        </h2>
                        <p><b>Live a more natural, toxin-free life.</b> Regular cleansing and detoxification practices help eliminate toxins, supporting optimal organ function, boosting energy levels, and promoting overall well-being.</p>
                        <p><a class="button button--gold" href="#">SHOP CLEANSES & DETOX</a></p>
                        <p><a class="button button--gold-outline" href="#">ULTIMATE DETOX GUIDE</a></p>
                    </div>
                    <div data-type="image">
                        <img src="https://cdn.globalhealing.com/pages/v2/home/foundation.png" alt="">
                    </div>
                </div>

            </section>

        {% when 'br' %}
            <hr class="page-width" {{ block.shopify_attributes }}>

        {% when 'mission' %}
            <section class="ghd--mission" {{ block.shopify_attributes }}>
                <div class="ghd--flex page-width" data-type="header">
                    <div><h2>Global Healing<br> is Our Mission</h2></div>
                    <div>
                        <p>
                            Since 1998, our mission has been to empower people to take control of their health naturally and restore their body’s self-healing abilities.
                            <br><a href="#"><b>OUR STORY</b></a>
                        </p>
                    </div>
                </div>
                <div class="page-width ghd--flex" data-type="cols">
                    <div>
                        <img src="https://cdn.globalhealing.com/pages/v2/home/mission-natural.png" alt="">
                        <div>
                            <h3 class="eyebrow">
                                <span>WE BELIEVE IN</span>
                                NATURAL
                            </h3>
                            <p>We offer products backed by science and rooted in nature, using only sustainable ingredients to maximize potency and purity. </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://cdn.globalhealing.com/pages/v2/home/mission-innovation.png" alt="">
                        <div>
                            <h3 class="eyebrow">
                                <span>WE BELIEVE IN</span>
                                INNOVATION
                            </h3>
                            <p>In our state-of-the-art, eco-friendly facility, we develop and formulate innovative products that offer the best supplements in the industry, hands down.</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://cdn.globalhealing.com/pages/v2/home/mission-sustainability.png" alt="">
                        <div>
                            <h3 class="eyebrow">
                                <span>WE BELIEVE IN</span>
                                SUSTAINABILITY
                            </h3>
                            <p>In addition to our sustainably sourced ingredients, we pack and ship our products in the most environmentally-friendly way possible to reduce our carbon footprint.</p>
                        </div>
                    </div>
                    <div>
                        <img src="https://cdn.globalhealing.com/pages/v2/home/mission-giving-back.png" alt="">
                        <div>
                            <h3 class="eyebrow">
                                <span>WE BELIEVE IN</span>
                                GIVING BACK
                            </h3>
                            <p>We give back to local and national organizations that promote sustainable, organic farming initiatives and frequently donate a portion of our sales to like-minded nonprofits.</p>
                        </div>
                    </div>
                </div>
            </section>

        {% when 'autoship' %}
            <section class="ghd--autoship-info" {{ block.shopify_attributes }}>

                <div class="page-width ghd--flex">
                    <div data-type="image"><div><img src="https://cdn.globalhealing.com/pages/v2/home/20-percent-off.v2.svg" alt=""></div></div>
                    <div data-type="border">&nbsp;</div>
                    <div data-type="text">
                        <h2 class="eyebrow">
                            <span>SUBSCRIPTION PROGRAM</span>
                            Living Healthy is <br>a Lifelong Commitment
                        </h2>
                        <p>Even the most potent and pure supplements take time to be effective. Consistency is key when it comes to healing your body from within. Our subscription program helps support your commitment to a lifelong wellness journey by ensuring you always have the products you need.</p>
                        <a class="button button--tertiary button--secondary" href="#">SEE ALL PERKS</a>
                    </div>
                </div>

            </section>
        {% when 'reviews' %}
            <section class="ghd--reviews" {{ block.shopify_attributes }}>
                <div class="ghd--flex" data-type="cols">
                    <div class="text-center">
                        <div>
                            <img src="https://cdn.globalhealing.com/pages/v2/home/reviews-stars.svg" width="150" alt="">
                            <h3 class="eyebrow">
                                Tens of Thousands
                                <span>OF FIVE-STAR REVIEWS</span>
                            </h3>

                            <h3 class="ghd--reviews--featured-title">Featured Reviews</h3>
                            <div class="slider">
                                <div>
                                    <p>“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ”</p>
                                    <b>JESSICA</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-type="image">
                        <div>
                            <div>
                                <div><img src="https://cdn.globalhealing.com/pages/v2/home/reviews-free-shipping.v2.svg" alt=""></div>
                                <div><p>For U.S. Addresses on Orders $100+ <br> <a href="#">LEARN MORE</a></p></div>
                            </div>
                            <div>
                                <div><img src="https://cdn.globalhealing.com/pages/v2/home/reviews-1-year.v3.svg" alt=""></div>
                                <div><p>We’re so sure you’ll love the way our products work for you that we give you a full year to try them. If you’re not completely satisfied, we’ll refund your money.</p></div>
                            </div>
                            <div>
                                <div><img src="https://cdn.globalhealing.com/pages/v2/home/reviews-award-winning.v2.svg" alt=""></div>
                                <div><p>Our knowledgeable, compassionate team is always here to guide you and answer your questions so you get the right products for your wellness journey. </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endcase %}
    {% endfor %}
</div>


{% schema %}
{
  "name": "GH Home Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "hero",
      "name": "Hero",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "image",
          "default": "https://...",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_mobile",
          "default": "https://...",
          "label": "Image (mobile)"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "logos",
      "name": "Logos",
      "limit": 1,
      "settings": []
    },
    {
      "type": "banners",
      "name": "Banners",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "banner_1_image",
          "default": "https://...",
          "label": "Banner 1 - Image URL"
        },
        {
          "type": "url",
          "id": "banner_1_url",
          "label": "Banner 1 - Link URL"
        },
        {
          "type": "text",
          "id": "banner_2_image",
          "default": "https://...",
          "label": "Banner 2 - Image URL"
        },
        {
          "type": "url",
          "id": "banner_2_url",
          "label": "Banner 2 - Link URL"
        },
        {
          "type": "text",
          "id": "banner_3_image",
          "default": "https://...",
          "label": "Banner 3 - Image URL"
        },
        {
          "type": "url",
          "id": "banner_3_url",
          "label": "Banner 3 - Link URL"
        }
      ]
    },
    {
      "type": "quality",
      "name": "Quality",
      "limit": 1,
      "settings": []
    },
    {
      "type": "journey",
      "name": "Journey",
      "limit": 1,
      "settings": []
    },
    {
      "type": "foundation",
      "name": "Foundation",
      "limit": 1,
      "settings": []
    },
    {
      "type": "autoship",
      "name": "Autoship",
      "limit": 1,
      "settings": []
    },
    {
      "type": "mission",
      "name": "Mission",
      "limit": 1,
      "settings": []
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "limit": 1,
      "settings": []
    },
    {
      "type": "br",
      "name": "Line Break",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "GH Home Page"
    }
  ]
}
{% endschema %}