{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="gh--product-content section-{{ section.id }}-padding">
  
  {{ 'gh-product-content.css' | asset_url | stylesheet_tag }}
  
  <div class="ghd--product-container">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {% when 'intro' %}
        <div class="ghd--block--intro ghd--block">
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>UNIQUELY MADE</span>
                  100 Billion CFUs. Maximum Potency.
                </h2>
                <p>
                  Experience the gold standard in gut health with Global Healing’s Ultimate Probiotic supplement. While other brands use low- quality strains and inflated CFU counts, we believe in quality over quantity. That’s why we use only the highest quality strains in our vegan-friendly formula, expertly crafted to deliver maximum potency and effectiveness. With a concentrated 100 billion CFUs per bottle, our supplement ensures you get the full spectrum of gut-healing benefits from our probiotic strains with every dose.
                </p>
              </div>
            </div>
            <div data-type="image">
              <picture>
                <source media="(min-width: 650px)"
                        srcset="https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/intro.png">
                <source media="(max-width: 649px)"
                        srcset="https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/intro-mobile.png">
                <img src="https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/intro.png"
                     alt="">
              </picture>
            </div>
          </div>
        </div>
    {% endcase %}

  
  {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Product Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "limit": 1,
      "settings": []
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "limit": 1,
      "settings": []
    },
    {
      "type": "ingredients",
      "name": "Ingredients",
      "limit": 1,
      "settings": []
    },
    {
      "type": "impact",
      "name": "Impact",
      "limit": 1,
      "settings": []
    },
    {
      "type": "curated",
      "name": "Curated Collection",
      "limit": 1,
      "settings": []
    },
    {
      "type": "faqs",
      "name": "FAQs",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Product Content"
    }
  ]
}
{% endschema %}
