{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign has_product_config = false %}

{% if product and product.metafields.globalhealing.body %}
  {% assign has_product_config = true %}
  {% assign config = product.metafields.globalhealing.body.value %}
{% endif %}

{% if has_product_config %}
<section class="gh--product-content section-{{ section.id }}-padding">
  
  {{ 'gh-product-content.css' | asset_url | stylesheet_tag }}
  
  <div class="ghd--product-container">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {% when 'intro' %}
        <div class="ghd--block--intro ghd--block" {{ block.shopify_attributes }}>
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ config.intro.title.before | default: 'Uniquely Made' }}</span>
                  {{ config.intro.title.main }}
                </h2>
                {{ config.intro.content }}
              </div>
            </div>
            <div data-type="image">
              <picture>
                <source media="(min-width: 650px)" srcset="{{ config.intro.image.desktop | default: '' }}">
                <source media="(max-width: 649px)" srcset="{{ config.intro.image.mobile | default: '' }}">
                <img src="{{ config.intro.image.desktop }}" alt="">
              </picture>
            </div>
          </div>
        </div>
      {% when 'benefits' %}
        <div class="ghd--block--benefits ghd--block" {{ block.shopify_attributes }}>
          <div data-type="cols">
            <div data-type="image">
              <img src="{{ config.benefits.image.desktop }}?w=500" alt="">
            </div>
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ config.benefits.title.before | default: 'The Benefits' }}</span>
                  {{ config.benefits.title.main }}
                </h2>
                <div class="ghd--details">
                  {% for detail in config.benefits.items %}
                  <details>
                    <summary>{{ detail.title }}</summary>
                    {{ detail.content }}
                  </details>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'ingredients' %}
        <div class="ghd--block--ingredients ghd--block" {{ block.shopify_attributes }}>
          <div data-type="header">
            <h2 class="eyebrow">
              <span>{{ config.ingredients.title.before | default: 'Made With' }}</span>
              {{ config.ingredients.title.main | default: 'Clean, Pure, Premium Ingredients' }}
            </h2>
            <h4>{{ config.ingredients.title.after | default: '100% Vegan | Gluten-free | No Additives, Fillers, or Preservatives' }}</h4>
          </div>
          <div data-type="cols">
            <div data-type="text">
              <div class="ghd--details">
                {% for detail in config.ingredients.items %}
                  <details data-ingredient-image='{{ detail.image }}'>
                    <summary>{{ detail.title }}</summary>
                    {{ detail.content }}
                  </details>
                {% endfor %}
              </div>
            </div>
            <div data-type="image">
              <!-- @todo: need to make this dynamic! -->
              <img src="https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/prebiotic-blend.png?w=500" alt="">
            </div>
          </div>
        </div>
      {% when 'impact' %}
      <div class="ghd--block--impact ghd--block" {{ block.shopify_attributes }}>
        <div data-type="cols">
          <div data-type="text">
            <div class="mw">
              <h2 class="eyebrow">
                <span>{{ config.impact.title.before | default: 'The Impact' }}</span>
                {{ config.impact.title.main }}
              </h2>
              <h4>{{ config.impact.title.after }}</h4>
              {{ config.impact.content }}
            </div>
          </div>
          <div data-type="image">
            <picture>
              <source media="(min-width: 650px)" srcset="{{ config.impact.image.desktop }}">
              <source media="(max-width: 649px)" srcset="{{ config.impact.image.mobile }}">
              <img src="{{ config.impact.image.desktop }}" alt="">
            </picture>
          </div>
        </div>
      </div>
      {% when 'faqs' %}
      <div class="ghd--block--faq ghd--block" {{ block.shopify_attributes }}>
        <h2 class="eyebrow">{{ config.faqs.title.main }}</h2>
        <div class="ghd--details mw">
          {% for detail in config.faqs.items %}
            <details>
              <summary>{{ detail.title }}</summary>
              {{ detail.content }}
            </details>
          {% endfor %}
        </div>
      </div>
      {% when 'curated' %}
      <div class="ghd--block--curated ghd--block" {{ block.shopify_attributes }}>
        <div data-type="header">
          <h2 class="eyebrow">
            {{ config.curated.title.main }}
          </h2>
          <h4>{{ config.curated.title.after }}</h4>
        </div>
        <div data-type="items">
          {% for p in product.metafields.globalhealing.curated_collection.value %}
            {% assign curated = config.curated.items[forloop.index0] %}
            {% assign v = p.selected_or_first_available_variant %}
          <div>
            <span class="image">{{ p.featured_image | image_url: width: 150 | image_tag }}</span>
            <h4 class="title">{{ p.title }}</h4>
            <p class="tagline">{{ curated.tagline }}</p>
            <p class="description">{{ curated.content }}</p>
            <p class="price">{{ v.price | money }}</p>

            {%- assign product_form_id = 'product-form-' | append: v.id | append: block.id -%}
            {%- render 'buy-buttons',
                block: block,
                product: p,
                product_form_id: product_form_id,
                section_id: section.id
              -%}
          </div>
          {% endfor %}
        </div>
      </div>
    {% endcase %}

  
  {% endfor %}
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Product Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "limit": 1,
      "settings": []
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "limit": 1,
      "settings": []
    },
    {
      "type": "ingredients",
      "name": "Ingredients",
      "limit": 1,
      "settings": []
    },
    {
      "type": "impact",
      "name": "Impact",
      "limit": 1,
      "settings": []
    },
    {
      "type": "curated",
      "name": "Curated Collection",
      "limit": 1,
      "settings": []
    },
    {
      "type": "faqs",
      "name": "FAQs",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Product Content"
    }
  ]
}
{% endschema %}
