{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign has_product_config = false %}

{% if product and product.metafields.gh_product.data %}
  {% assign has_product_config = true %}
  {% assign config = product.metafields.gh_product.data.value %}
{% endif %}

{% if has_product_config %}

<section class="gh--product-content section-{{ section.id }}-padding">
  
  {{ 'gh-section-product-content.css' | asset_url | stylesheet_tag }}
  
  <div class="ghd--product-container">
    
  {% for block in config.blocks %}
    {%- case block.type -%}
      {%- when 'blank' -%}
       {% if block.content %}
        <div class="ghd--block--blank ghd--block">
          <div class="page-width">
            {{ block.content }}
          </div>
        </div>
       {% endif %}
      {% when 'intro' %}
        {% if block.content %}
        <div class="ghd--block--intro ghd--block">
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ block.title.before | default: 'Uniquely Made' }}</span>
                  {{ block.title.main }}
                </h2>
                {{ block.content }}
              </div>
            </div>
            <div data-type="image">
              <picture>
                <source media="(min-width: 750px)" srcset="{{ block.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro.png' }}">
                <source media="(max-width: 749px)" srcset="{{ block.image.mobile | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro-mobile.png' }}">
                <img src="{{ block.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro.png' }}" alt="" loading="lazy">
              </picture>
            </div>
          </div>
        </div>
        {% endif %}
      {% when 'benefits' %}
        <div class="ghd--block--benefits ghd--block">
          <div data-type="cols">
            <div data-type="image">
              <img src="{{ block.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/benefits.jpg' }}?w=500" alt="" loading="lazy">
            </div>
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow pb1">
                  <span>{{ block.title.before | default: 'The Benefits' }}</span>
                  {{ block.title.main }}
                </h2>
                <div class="ghd--details">
                  {% for detail in block.items %}
                    {% if detail.content != '' %}
                    <details {% if forloop.first %}open{% endif %}>
                      <summary><h3>{{ detail.title }}</h3></summary>
                      {{ detail.content }}
                    </details>
                    {% else %}
                    <span>{{ detail.title }}</span>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% when 'how_it_works' %}
      {% if block.items.size > 0 %}
        <div class="ghd--block--benefits ghd--block--how-it-works ghd--block" data-video>
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow pb1">
                  <span>{{ block.title.before | default: product.title }}</span>
                  {{ block.title.main |  default: 'How It Works' }}
                </h2>
                <div class="ghd--details">
                  {% for detail in block.items %}
                    <details {% if forloop.first %}open{% endif %}>
                      <summary>{{ detail.title }}</summary>
                      {{ detail.content }}
                    </details>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div data-type="image">
              {% if block.image.desktop contains "mp4" %}
                <video id="bgVideo" preload="true" autoplay loop muted>
                  <source src="{{ block.image.desktop }}" type="video/mp4" />
                </video>
              {% else %}
                <img src="{{ block.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/benefits.jpg' }}?w=500" alt="" loading='lazy'>
              {% endif %}              
            </div>
          </div>
        </div>
      {% endif %}
      {% when 'ingredients' %}
        <div class="ghd--block--ingredients ghd--block" data-label="{{ block.label }}">
          <div data-type="header">
            <h2 class="eyebrow">
              <span>{{ block.title.before | default: 'Made With' }}</span>
              {{ block.title.main | default: 'Clean, Pure, Premium Ingredients' }}
            </h2>
            <h3 class="h4">{{ block.title.after | default: '100% VEGAN | GLUTEN-FREE | NO ADDITIVES, FILLERS, OR PRESERVATIVES' }}</h3>
          </div>
          <div data-type="cols">
            <div data-type="text">

              <div class="ghd--accordion">
                {% for detail in block.items %}
                <div>
                  <input type="radio"
                         data-ingredient-image='{{ detail.image }}'
                         name="{{ block.id }}-ingredients"
                         id="{{ block.id }}-ingredients-{{ forloop.index }}"
                         {% if forloop.first %}checked{% endif %}
                  hidden />
                  <label for="{{ block.id }}-ingredients-{{ forloop.index }}"><h3 class="h-inherit">{{ detail.title }}</h3></label>
                  <div>
                    <img class='ghd--hide-desktop' src="{{ detail.image }}?w=600" srcset='{{ detail.image }}?w=1200 2x' alt="" loading='lazy'>
                    {{ detail.content }}
                  </div>
                </div>
                {% endfor %}

                {% unless config.supplement_facts == blank  %}
                <div>
                  {%- capture sf_content -%}{% render 'gh-product-supplement-facts', config: config %}{% endcapture %}
                  {% render 'gh-element-dialog', button_text: 'See Full Ingredient List', id: block.id, content: sf_content %}
                </div>
                {% endunless %}
              </div>
            </div>
            <div data-type="image" class='ghd--hide-mobile'>
              <img src="" srcset='' alt="" loading='lazy'>
            </div>
          </div>
          {% if product.tags contains 'prop65' %}
          <div data-type="ghd--prop65-warning">
            {% assign prop65_id = 'prop65-' | append: block.id %}
            {% render
              'gh-element-dialog',
              button_text: "<b>WARNING</b> - California's Proposition 65",
              id: prop65_id,
              content: ''
            %}
            <script>
              let product_skus = [];

              {% for variant in product.variants %}
              product_skus.push('{{ variant.sku }}')
              {% endfor %}

              gh.shopify.checkout.prop65Message( product_skus, (html) => {
                document.querySelector('#dialog-{{ prop65_id }} .ghd--dialog-content').innerHTML = html;
              })
            </script>
          </div>
          {% endif %}
        </div>
      {% when 'impact' %}
      {% if block.title %}
      <div class="ghd--block--impact ghd--block">
        <div data-type="cols">
          <div data-type="text">
            <div class="mw">
              <h2 class="eyebrow">
                <span>{{ block.title.before | default: 'The Impact' }}</span>
                {{ block.title.main }}
              </h2>
              <div class="h4 mb3">{{ block.title.after }}</div>
              <div>{{ block.content }}</div>
            </div>
          </div>
          <div data-type="image">
            <picture>
              <source media="(min-width: 750px)" srcset="{{ block.image.desktop }}">
              <source media="(max-width: 749px)" srcset="{{ block.image.mobile }}">
              <img src="{{ block.image.desktop }}" alt=""  loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      
      {% if product.tags contains 'impact-yellow' %}
      <style>.ghd--block--impact{background: #feebd5}</style>
      {% endif %}
      {% if product.tags contains 'impact-white' %}
      <style>.ghd--block--impact{background: #efeae7}</style>
      {% endif %}
      {% if product.tags contains 'impact-brown' %}
      <style>
        .ghd--block--impact{background: #a46f5c; color: #fff}
        .ghd--block--impact h2.eyebrow{ color: var(--gh-color-gold) }
        .ghd--block--impact h2.eyebrow+h4,
        .ghd--block--impact h2.eyebrow span
        { color: #fff }
      </style>
      {% endif %}
      {% endif %}
      {% when 'miron' %}

      {% capture miron_default %}
        <p>{{ product.title }} is packed in premium MIRON’s violet glass. This luxurious violet glass not only serves as a natural barrier for preserving the product's energy and quality, but also boasts unparalleled storage capabilities compared to conventional glass, plastic, or aluminum packaging. MIRON’s revolutionary glass technology eliminates the need for preservatives, ensuring a longer shelf life and promoting sustainability through the possibility of reuse and recycling.</p>
      {% endcapture %}

      {% capture video_link %}
        <iframe src="{{ block.video_link | default: 'https://player.vimeo.com/video/405459325' }}?h=3aa1cbbf06&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {% endcapture %}

      {% capture video_button %}{{ block.video_button | default: 'Watch the Video' }}{% endcapture %}

      <div class="ghd--block--miron ghd--block">
        <div data-type="cols">
          <div data-type="text">
            <div class="mw">
              <h2>{{ block.title.main | default: 'Preserving the Essence of Natural Ingredients' }}</h2>
              {{ block.content | default: miron_default }}
              {% render 'gh-element-dialog', button_text: video_button, button_class: 'button mt3', id: block.id, content: video_link %}
            </div>
          </div>
          <div data-type="image">
            <img src='{{ block.image | default: 'https://cdn.globalhealing.com/products/pages/all/v2/miron-bottle.png' }}' alt='' loading='lazy'>
          </div>
        </div>
      </div>
      {% when 'faqs' %}
      <div class="ghd--block--faq ghd--block">
        <h2 class="eyebrow">{{ block.title.main | default: 'Frequently Asked Questions' }}</h2>
        <input type='radio' name='view-more' id='{{ block.id }}-view-more' hidden>
        <div class="ghd--details mw">
          {% for detail in block.items %}
            <details>
              <summary><h3>{{ detail.title }}</h3></summary>
              {{ detail.content }}
            </details>
          {% endfor %}
          {% if block.items.size > 5 %}
            <label for='{{ block.id }}-view-more'>View More</label>
          {% endif %}
        </div>
      </div>
      {% when 'curated_collection' %}
      {% if product.metafields.globalhealing.curated_collection.value and block.items.size > 0 %}
      <div class="ghd--block--curated ghd--block">
        <div data-type="header">
          <div class="eyebrow h2">
            {{ block.title.main | default: 'Curate Your Collection' }}
          </div>
          <div class="h4 mb3">{{ block.title.after }}</div>
        </div>
        <div class='items-container page-width'>
          <div data-type="items" data-item-count='{{ block.items | size }}'>
            {% for p in product.metafields.globalhealing.curated_collection.value %}
              {% assign curated = block.items[forloop.index0] %}
              {% assign v = p.selected_or_first_available_variant %}
              {% assign image = v.featured_image | default: p.featured_image %}
            <div>
              <span class="image">
              <a href="{{ p.url }}">{{ image | image_url: width: 225 | image_tag }}</a></span>
              <div class="title h5 pb1"><a class="subtle" href="{{ p.url }}">{{ p.title }}</a></div>
              <p class="tagline bold">{{ curated.tagline }}</p>
              <div class="description">{{ curated.content }}</div>
              <p class="price">{{ v.price | money }}</p>

              {%- assign product_form_id = 'product-form-' | append: v.id | append: block.id -%}
              {% capture buy_buttons %}
              {%- render 'buy-buttons',
                  block: block,
                  product: p,
                  product_form_id: product_form_id,
                  section_id: section.id 
                -%}
                {% endcapture %}
                {{ buy_buttons | replace: "/cart/add", "/cart/add/" }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endcase %}

  
  {% endfor %}
  </div>
</section>
  
<script>
  {
    let ingredients = document.querySelector('.ghd--block--ingredients');
    let ingredients_img = ingredients.querySelector('[data-type="image"] img');
    let ingredients_inputs = ingredients.querySelectorAll('.ghd--accordion input');

    function setActiveImage(){
      ingredients_inputs.forEach( i => {
        if(!i.checked) return;
        ingredients_img.classList.add('loading');

        ingredients_img.src = i.getAttribute('data-ingredient-image') + '?w=600'
        ingredients_img.setAttribute('srcset', i.getAttribute('data-ingredient-image') + '?w=1200 2x' );

        if(ingredients_img.complete){
          ingredients_img.classList.remove('loading');
        }

        ingredients_img.addEventListener('load', () => {
          ingredients_img.classList.remove('loading');
        })

      })
    }

    ingredients_inputs.forEach( i => {
      i.addEventListener('change', e => {
        if( !i.checked ) return;
        setActiveImage()
      })
    })

    setActiveImage();

    /*
    ingredients_details.forEach( d => {
      d.addEventListener('toggle', () => {
        if( d.open === true ){
          if( current_open ) current_open.open = false;
          setCurrentOpen();
          setActiveImage();
        }
      })
    })

    setCurrentOpen();
    setActiveImage();
    */
  }
</script>

{% endif %}

{% schema %}
{
  "name": "Product Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product Content"
    }
  ]
}
{% endschema %}
