{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign has_product_config = false %}

{% if product and product.metafields.globalhealing.body %}
  {% assign has_product_config = true %}
  {% assign config = product.metafields.globalhealing.body.value %}
{% endif %}

{% if has_product_config %}
<section class="gh--product-content section-{{ section.id }}-padding">
  
  {{ 'gh-section-product-content.css' | asset_url | stylesheet_tag }}
  
  <div class="ghd--product-container">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {% when 'intro' %}
        {% if config.intro %}
        <div class="ghd--block--intro ghd--block" {{ block.shopify_attributes }}>
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ config.intro.title.before | default: 'Uniquely Made' }}</span>
                  {{ config.intro.title.main }}
                </h2>
                {{ config.intro.content }}
              </div>
            </div>
            <div data-type="image">
              <picture>
                <source media="(min-width: 750px)" srcset="{{ config.intro.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro.png' }}">
                <source media="(max-width: 749px)" srcset="{{ config.intro.image.mobile | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro-mobile.png' }}">
                <img src="{{ config.intro.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/all/v2/intro.png' }}" alt="" loading="lazy">
              </picture>
            </div>
          </div>
        </div>
        {% endif %}
      {% when 'benefits' %}
        <div class="ghd--block--benefits ghd--block" {{ block.shopify_attributes }}>
          <div data-type="cols">
            <div data-type="image">
              <img src="{{ config.benefits.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/benefits.jpg' }}?w=500" alt="" loading="lazy">
            </div>
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ config.benefits.title.before | default: 'The Benefits' }}</span>
                  {{ config.benefits.title.main }}
                </h2>
                <div class="ghd--details">
                  {% for detail in config.benefits.items %}
                    {% if detail.content != '' %}
                    <details {% if forloop.first %}open{% endif %}>
                      <summary>{{ detail.title }}</summary>
                      {{ detail.content }}
                    </details>
                    {% else %}
                    <span>{{ detail.title }}</span>
                    {% endif %}
                  {% endfor %}
                </div>
                {% comment %}
                <div class="ghd--accordion">
                  {% for detail in config.benefits.items %}
                    <div>
                      <input type="radio" name="{{ block.id }}-benefits" id="{{ block.id }}-benefits-{{ forloop.index }}" {% if forloop.first %}checked{% endif %} hidden />
                      <label for="{{ block.id }}-benefits-{{ forloop.index }}">{{ detail.title }}</label>
                      <div>{{ detail.content }}</div>
                    </div>
                  {% endfor %}
                </div>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      {% when 'how_it_works' %}
      {% if config.how_it_works.items.size > 0 %}
        <div class="ghd--block--benefits ghd--block--how-it-works ghd--block" data-video {{ block.shopify_attributes }}>
          <div data-type="cols">
            <div data-type="text">
              <div class="mw">
                <h2 class="eyebrow">
                  <span>{{ config.how_it_works.title.before | default: product.title }}</span>
                  {{ config.how_it_works.title.main |  default: 'How It Works' }}
                </h2>
                <div class="ghd--details">
                  {% for detail in config.how_it_works.items %}
                    <details {% if forloop.first %}open{% endif %}>
                      <summary>{{ detail.title }}</summary>
                      {{ detail.content }}
                    </details>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div data-type="image">
              {% if config.how_it_works.image.desktop contains "mp4" %}
                <video id="bgVideo" preload="true" autoplay loop muted>
                  <source src="{{ config.how_it_works.image.desktop }}" type="video/mp4" />
                </video>
              {% else %}
                <img src="{{ config.how_it_works.image.desktop | default: 'https://cdn.globalhealing.com/products/pages/ultimate-probiotic/v2/benefits.jpg' }}?w=500" alt="" loading='lazy'>
              {% endif %}              
            </div>
          </div>
        </div>
      {% endif %}
      {% when 'ingredients' %}
        <div class="ghd--block--ingredients ghd--block" {{ block.shopify_attributes }}>
          <div data-type="header">
            <h2 class="eyebrow">
              <span>{{ config.ingredients.title.before | default: 'Made With' }}</span>
              {{ config.ingredients.title.main | default: 'Clean, Pure, Premium Ingredients' }}
            </h2>
            <h4>{{ config.ingredients.title.after | default: '100% VEGAN | GLUTEN-FREE | NO ADDITIVES, FILLERS, OR PRESERVATIVES' }}</h4>
          </div>
          <div data-type="cols">
            <div data-type="text">

              <div class="ghd--accordion">
                {% for detail in config.ingredients.items %}
                <div>
                  <input type="radio"
                         data-ingredient-image='{{ detail.image }}'
                         name="{{ block.id }}-ingredients"
                         id="{{ block.id }}-ingredients-{{ forloop.index }}"
                         {% if forloop.first %}checked{% endif %}
                  hidden />
                  <label for="{{ block.id }}-ingredients-{{ forloop.index }}">{{ detail.title }}</label>
                  <div>
                    <img class='ghd--hide-desktop' src="{{ detail.image }}?w=600" srcset='{{ detail.image }}?w=1200 2x' alt="" loading='lazy'>
                    {{ detail.content }}
                  </div>
                </div>
                {% endfor %}

                {% unless config.supplement_facts == blank  %}
                <div>
                  {%- capture sf_content -%}<img src='{{ config.supplement_facts }}?w=800' srcset='{{ config.supplement_facts }}?w=1600 2x' alt='supplement facts!' loading="lazy">{% endcapture %}
                  {% render 'gh-element-dialog', button_text: 'See Full Ingredient List', id: block.id, content: sf_content %}
                </div>
                {% endunless %}
              </div>
            </div>
            <div data-type="image" class='ghd--hide-mobile'>
              <img src="" srcset='' alt="" loading='lazy'>
            </div>
          </div>
          {% if product.tags contains 'prop65' %}
          <div data-type="ghd--prop65-warning">
            {% assign prop65_id = 'prop65-' | append: block.id %}
            {% render
              'gh-element-dialog',
              button_text: "<b>WARNING</b> - California's Proposition 65",
              id: prop65_id,
              content: ''
            %}
            <script>
              let product_skus = [];

              {% for variant in product.variants %}
              product_skus.push('{{ variant.sku }}')
              {% endfor %}

              gh.shopify.checkout.prop65Message( product_skus, (html) => {
                document.querySelector('#dialog-{{ prop65_id }} .ghd--dialog-content').innerHTML = html;
              })
            </script>
          </div>
          {% endif %}
        </div>
      {% when 'impact' %}
      <div class="ghd--block--impact ghd--block" {{ block.shopify_attributes }}>
        <div data-type="cols">
          <div data-type="text">
            <div class="mw">
              <h2 class="eyebrow">
                <span>{{ config.impact.title.before | default: 'The Impact' }}</span>
                {{ config.impact.title.main }}
              </h2>
              <h4>{{ config.impact.title.after }}</h4>
              <div>{{ config.impact.content }}</div>
            </div>
          </div>
          <div data-type="image">
            <picture>
              <source media="(min-width: 750px)" srcset="{{ config.impact.image.desktop }}">
              <source media="(max-width: 749px)" srcset="{{ config.impact.image.mobile }}">
              <img src="{{ config.impact.image.desktop }}" alt=""  loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      {% when 'miron' %}
      {% if product.tags contains "miron" %}
      <div class="ghd--block--miron ghd--block" {{ block.shopify_attributes }}>
        <div data-type="cols">
          <div data-type="text">
            <div class="mw">
              <h2>Preserving the Essence of Natural Ingredients</h2>
              <p>{{ product.title }} is packed in premium MIRON’s violet glass. This luxurious violet glass not only serves as a natural barrier for preserving the product's energy and quality, but also boasts unparalleled storage capabilities compared to conventional glass, plastic, or aluminum packaging. MIRON’s revolutionary glass technology eliminates the need for preservatives, ensuring a longer shelf life and promoting sustainability through the possibility of reuse and recycling.</p>

              {% render 'gh-element-dialog', button_text: 'Watch the Video', button_class: 'button', id: block.id, content: '<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/405459325?h=3aa1cbbf06&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>' %}
              <!--<p><a href='https://vimeo.com/405459325' target='_blank'>Watch the Video</a></p>-->
            </div>
          </div>
          <div data-type="image">
            <img src='https://cdn.globalhealing.com/products/pages/all/v2/miron-bottle.png' alt='' loading='lazy'>
          </div>
        </div>
      </div>
      {% endif %}
      {% when 'faqs' %}
      <div class="ghd--block--faq ghd--block" {{ block.shopify_attributes }}>
        <h2 class="eyebrow">{{ config.faqs.title.main | default: 'Frequently Asked Questions' }}</h2>
        <input type='radio' name='view-more' id='{{ block.id }}-view-more' hidden>
        <div class="ghd--details mw">
          {% for detail in config.faqs.items %}
            <details>
              <summary>{{ detail.title }}</summary>
              {{ detail.content }}
            </details>
          {% endfor %}
          {% if config.faqs.items.size > 5 %}
            <label for='{{ block.id }}-view-more'>View More</label>
          {% endif %}
        </div>
      </div>
      {% when 'curated' %}
      {% if product.metafields.globalhealing.curated_collection.value and config.curated_collection.items.size > 0 %}
      <div class="ghd--block--curated ghd--block" {{ block.shopify_attributes }}>
        <div data-type="header">
          <h2 class="eyebrow">
            {{ config.curated_collection.title.main | default: 'Curate Your Collection' }}
          </h2>
          <h4>{{ config.curated_collection.title.after }}</h4>
        </div>
        <div class='items-container page-width'>
          <div data-type="items" data-item-count='{{ config.curated_collection.items | size }}'>
            {% for p in product.metafields.globalhealing.curated_collection.value %}
              {% assign curated = config.curated_collection.items[forloop.index0] %}
              {% assign v = p.selected_or_first_available_variant %}
              {% assign image = v.featured_image | default: p.featured_image %}
            <div>
              <span class="image">
              <a href="{{ p.url }}">{{ image | image_url: width: 150 | image_tag }}</a></span>
              <h4 class="title"><a class="subtle" href="{{ p.url }}">{{ p.title }}</a></h4>
              <p class="tagline">{{ curated.tagline }}</p>
              <div class="description">{{ curated.content }}</div>
              <p class="price">{{ v.price | money }}</p>

              {%- assign product_form_id = 'product-form-' | append: v.id | append: block.id -%}
              {% capture buy_buttons %}
              {%- render 'buy-buttons',
                  block: block,
                  product: p,
                  product_form_id: product_form_id,
                  section_id: section.id 
                -%}
                {% endcapture %}
                {{ buy_buttons | replace: "/cart/add", "/cart/add/" }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    {% endcase %}

  
  {% endfor %}
  </div>
</section>
{% endif %}

<script>
  {
    let ingredients = document.querySelector('.ghd--block--ingredients');
    let ingredients_img = ingredients.querySelector('[data-type="image"] img');
    let ingredients_inputs = ingredients.querySelectorAll('.ghd--accordion input');

    function setActiveImage(){
      ingredients_inputs.forEach( i => {
        if(!i.checked) return;
        ingredients_img.classList.add('loading');

        ingredients_img.src = i.getAttribute('data-ingredient-image') + '?w=600'
        ingredients_img.setAttribute('srcset', i.getAttribute('data-ingredient-image') + '?w=1200 2x' );

        if(ingredients_img.complete){
          ingredients_img.classList.remove('loading');
        }

        ingredients_img.addEventListener('load', () => {
          ingredients_img.classList.remove('loading');
        })

      })
    }

    ingredients_inputs.forEach( i => {
      i.addEventListener('change', e => {
        if( !i.checked ) return;
        setActiveImage()
      })
    })

    setActiveImage();

    /*
    ingredients_details.forEach( d => {
      d.addEventListener('toggle', () => {
        if( d.open === true ){
          if( current_open ) current_open.open = false;
          setCurrentOpen();
          setActiveImage();
        }
      })
    })

    setCurrentOpen();
    setActiveImage();
    */
  }
</script>

{% schema %}
{
  "name": "Product Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "intro",
      "name": "Intro",
      "limit": 1,
      "settings": []
    },
    {
      "type": "benefits",
      "name": "Benefits",
      "limit": 1,
      "settings": []
    },
    {
      "type": "how_it_works",
      "name": "How It Works",
      "limit": 1,
      "settings": []
    },
    {
      "type": "ingredients",
      "name": "Ingredients",
      "limit": 1,
      "settings": []
    },
    {
      "type": "impact",
      "name": "Impact",
      "limit": 1,
      "settings": []
    },
    {
      "type": "curated",
      "name": "Curated Collection",
      "limit": 1,
      "settings": []
    },
    {
      "type": "miron",
      "name": "Miron Section",
      "limit": 1,
      "settings": []
    },
    {
      "type": "faqs",
      "name": "FAQs",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Product Content"
    }
  ]
}
{% endschema %}
